body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.name {
    top: 40px;
    left: 20px;
    font-weight: bold;
    font-size: 28px;
    padding: 12px 20px;
}

.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 20px;
    background: #C6EDEF;
    overflow-x: hidden;
    padding: 12px 0;
    border-radius: 25px;
}

.sidenav a {    /* each element of side bar */
    padding: 6px 8px 6px 16px; 
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    display: block;
    font-weight: 300;
    /*text-align: center;*/
}
  
.sidenav a:hover {
    color: #064579;
    font-weight: 700;
}

.main {
    margin-left: 150px; /* Same width as the sidebar + left position in px */
    /*font-size: 18px;  Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


ul.exp {
    list-style-type: none;
}

li.exp {
    display: inline-block;
    margin-right: 20px; /* add spacing between items */
}