body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.name {
    top: 0px;
    margin-left: 6px;
    font-weight: bold;
    font-size: 36px;
    padding: 20px 20px 30px;
    z-index: 0;
    background-color:#aecded; 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: -6px 6px rgb(22, 52, 62);
}

.cont {
    width: 200px;
    height: 50px;
    right: 40px;
    top: 30px;
    position: absolute;
    font-weight: 400px;
    font-size: 18px;
    z-index: 2;
    background-color: #dea8f0;
    /*border-radius: 25px;*/
    box-shadow: 6px -6px rgb(22, 52, 62);
    text-align: center;
}

.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 25px;
    background: #C6EDEF;
    overflow-x: hidden;
    padding: 12px 0;
    border-radius: 25px;
    box-shadow: -6px 6px rgb(22, 52, 62);
}

.sidenav a {    /* each element of side bar */
    padding: 6px 8px 6px 16px; 
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    display: block;
    font-weight: 300;
    /*text-align: center;*/
}
  
.sidenav a:hover {
    color: #51066a;
    font-weight: 700;
}

.main {
    margin-left: 155px; /* Same width as the sidebar + left position in px of .sidenav */
    /*font-size: 18px;  Increased text to enable scrolling */
    padding: 20px 8px;
    z-index: 3;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media all and (max-width: 600px) {
    /*.name {top: calc(100vh - 10px);} */
    
    .cont {top: 80px; right: 50px; width: 50%; height: 25px; padding: 5px 5px;}
    .cont br {display: none;}
    .sidenav {position: absolute; top: 125px; width: 70%; text-align: center; height: 17px;}
    .sidenav a {display: inline;}
    .intro {margin-left: -150px; margin-top: 70px; text-align: justify; text-justify: inter-word;}
    .name {padding-top: 15px;}
    button.but {margin-top: 15px;}
    h2.sub1 {left: -150px; top: 53px; width: calc(100vw - 75px) !important; }     /* negative bc its moving left edge from ancestor */
    h3.sub2 {margin-top: 30px !important; left: -150px; top: 50px;  width: calc(100vw - 60px) !important;}
    ul.top {margin-bottom: -70px; margin-left: -50px !important; margin-top: 60px !important;}
    .contbuts {margin-top:90px !important; margin-left: 90px !important;}

    
    /*.sidenav a {float: left; 
        position: absolute; 
        height: 100px; 
        width: calc(100vw - 50px);} */
      /*margin-top: 60px; margin-left: 6px;*/
    /*h3.sub2 {} /* margin-top: 70px; margin-left: 6px;*/
}



/*ul.exp {
    list-style: none;
} */

/* li.exp2 {
    float: left;
    /*display: inline-block;*/
    /*margin-right: 20px;  add spacing between items  */ 

h2.sub1 {
    width: calc(100vw - 225px); /*300px*/
    position: relative;
    z-index: 1;
    margin-top: 34px;            /*56 + X = padding (top + bottom) of name + name shaddow + space away from name*/
    margin-left: 175px;            /*margin-left of main (150) + space away from sidenav*/
    overflow-x: hidden;
    background-color: #8acbe9;    /* #8acbe9 */
    padding: 12px 8px;            /* padding is WITHIN the box of thing */ 
    /*border-radius: 25px; */
    box-shadow: -5px 5px rgb(22, 52, 62);
    text-align: center;
}

h3.sub2 {
    width: calc(100vw - 250px);
    position: relative;
    z-index: 1;
    margin-top: 30px;            /*56 + X = padding (top + bottom) of name + name shaddow + space away from name*/
    margin-left: 175px;            /*margin-left of main (150) + space away from sidenav*/
    overflow-x: hidden;
    background-color: #c5b2f7;
    padding: 12px 0;
    border-radius: 15px; 
    box-shadow: -5px 5px rgb(22, 52, 62);
    text-align: center;
}

ul.top {
    list-style-type:none; 
    margin-left: 100px; 
    padding-right: 10px;
}

.intro {
    padding: 0px;
}

p.contbut { /*unused rn */
    width: calc(100vw - 225px); /*300px*/
    background: #FCAB64;
    padding: 6px 5px;            /* padding is WITHIN the box of thing */ 
    /*border-radius: 25px; */
    box-shadow: -5px 5px rgb(22, 52, 62);
    text-align: center;
    margin-left: 25px; /* 175px of h2 sub1 - 155px of main */
    /*margin-top: 34px; 
    margin-right: 20px; 
    margin-left: 175px;  
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
    background-color: coral;
    box-shadow: -5px 5px rgb(22, 52, 62);
    text-align: center;
    overflow-x: hidden;
    padding: 6px 5px; */
}

a:link { 
    text-decoration: none; 
    color: black;
}

button.but {
    width: calc(100vw - 225px); /*300px*/
    background-color: #8ac0ff;
    padding: 6px 5px;            /* padding is WITHIN the box of thing */ 
    /*border-radius: 25px; */
    box-shadow: -5px 5px rgb(22, 52, 62);
    text-align: center;
    /*margin-left: 20px; /* 175px of h2 sub1 - 155px of main */
    color: black;
    
    cursor: pointer;
    outline: none;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 10px;
}

button.but:hover {
    background-color: #7c7eca;
    box-shadow: -5px 5px rgb(22, 52, 62);
}
button.but:focus {
    background-color: #673e8e;
    box-shadow: -5px 5px rgb(22, 52, 62);
}
button.but:active {
    background-color: #673e8e;
    box-shadow: -5px 5px rgb(22, 52, 62);
    transform: translateY(4px);
}

.contbuts {
    margin-top: 30px;
    margin-left: 170px;
}