body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.name {
    top: 0px;
    margin-left: 6px;
    font-weight: bold;
    font-size: 36px;
    padding: 20px 20px 30px;
    z-index: 0;
    background-color:#aecded; 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: -6px 6px rgb(22, 52, 62);
}

.cont {
    width: 200px;
    height: 50px;
    right: 40px;
    top: 30px;
    position: absolute;
    font-weight: 400px;
    font-size: 18px;
    z-index: 2;
    background-color: #659B5E;
    /*border-radius: 25px;*/
    box-shadow: 6px -6px rgb(22, 52, 62);
    text-align: center;
}

.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 25px;
    background: #C6EDEF;
    overflow-x: hidden;
    padding: 12px 0;
    border-radius: 25px;
    box-shadow: -6px 6px rgb(22, 52, 62);
}

.sidenav a {    /* each element of side bar */
    padding: 6px 8px 6px 16px; 
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    display: block;
    font-weight: 300;
    /*text-align: center;*/
}
  
.sidenav a:hover {
    color: #6B4B3E;
    font-weight: 700;
}

.main {
    margin-left: 155px; /* Same width as the sidebar + left position in px of .sidenav */
    /*font-size: 18px;  Increased text to enable scrolling */
    padding: 0px 0px;
    z-index: 3;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 600px) {
    /*.name {top: calc(100vh - 10px);} */
    .cont {top: 80px; left: 25px; width: 300px; height: 25px; padding: 5px 5px;}
    .cont br {display: none;}
    .sidenav {top: 125px; left: 18px;}
}



/*ul.exp {
    list-style: none;
} */

/* li.exp2 {
    float: left;
    /*display: inline-block;*/
    /*margin-right: 20px;  add spacing between items  */ 

h2.sub1 {
    width: calc(100vw - 250px); /*300px*/
    position: relative;
    z-index: 1;
    margin-top: 30px;            /*56 + X = padding (top + bottom) of name + name shaddow + space away from name*/
    margin-left: 175px;            /*margin-left of main (150) + space away from sidenav*/
    overflow-x: hidden;
    background: #FCAB64;
    padding: 12px 0px;            /* padding is WITHIN the box of thing */ 
    /*border-radius: 25px; */
    box-shadow: -5px 5px rgb(22, 52, 62);
    text-align: center;
}

h3.sub2 {
    width: calc(100vw - 250px);
    position: relative;
    z-index: 1;
    margin-top: 30px;            /*56 + X = padding (top + bottom) of name + name shaddow + space away from name*/
    margin-left: 175px;            /*margin-left of main (150) + space away from sidenav*/
    overflow-x: hidden;
    background: #C49E85;
    padding: 12px 0;
    border-radius: 15px; 
    box-shadow: -5px 5px rgb(22, 52, 62);
    text-align: center;
}